<div class="slide">
  <div class="slide__image-container">
    <img class="slide__image slide__image--1" src="images/<%= data.id %>_1.jpg" alt="<%= data.name %>">
    <img class="slide__image slide__image--2" src="images/<%= data.id %>_2.jpg" alt="<%= data.name %>">
    <img class="slide__image slide__image--3" src="images/<%= data.id %>_3.jpg" alt="<%= data.name %>">
  </div>
  <div class="slide__text-container">
    <p class="heading--4 slide__name"><%= data.name %></p>
    <p class="heading--5 slide__job-title"><%= data.title %></p>
    <p class="slide__description"><%= data.blurb %></p>
  </div>
</div>
