<div class="slide">
  <div class="slide__image-container">
    <div class="slide__sizer">
      <div class="slide__spacer"></div>
      <img class="slide__image slide__image--1" src="images/<%= data.id %>_1.png" alt="<%= data.name %>">
      <img class="slide__image slide__image--2" src="images/<%= data.id %>_2.png" alt="<%= data.name %>">
    </div>
  </div>
  <div class="slide__text-container">
    <p class="heading--4 slide__name"><%= data.name %></p>
    <p class="slide__job-title"><%= data.title %></p>
  </div>
</div>
